/* Estilo para el menú de compartir */
#share-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    z-index: 100;
}

#share-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#share-menu li {
    margin: 10px 0;
}

#share-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#share-menu a:hover {
    background-color: #f1f1f1;
}

#share-button {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

#share-button:hover {
    background-color: #2980b9;
}

/* Asegurarse de que el resto de la página no se vea afectada */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.content, .descargas, .social {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        padding: 12px 20px;
        font-size: 1.2em;
    }

    .content, .descargas {
        padding: 20px;
    }

    .social-icons {
        flex-direction: column;
        gap: 10px;
    }

    .icon {
        font-size: 1.2em;
        padding: 12px;
    }

    .descarga-item {
        padding: 10px;
    }
}
